<?php get_header(); ?>


%body
	.page-wrapper	


		<?php include('partials/page-header.php'); ?>

		<?php get_sidebar(); ?>		


		%section.fluid-main
			
			:plain
				<?php while ( have_posts() ) : the_post(); ?>

					<?php get_template_part( 'content', 'page' ); ?>
					
					<?php
						if ( comments_open() || '0' != get_comments_number() ) :
							comments_template();
						endif;
					?>

				<?php endwhile; ?>	


		<?php get_footer(); ?>				