<?php get_header(); ?>


%body
	.page-wrapper	


		<?php include('partials/page-header.php'); ?>

		<?php get_sidebar(); ?>		


		%section.fluid-main
		
			%article.post-entry

				-# Run the loop for the search to output the results.
				-# If you want to overload this in a child theme then include a file
				-# called content-search.php and that will be used instead.
				

				:plain
					<?php if ( have_posts() ) : ?>

						<h1>
							<?php printf( __( 'Search Results for: %s', 'shell' ), '<span>' . get_search_query() . '</span>' ); ?>
						</h1>
						
						<?php ?>
						
						<?php while ( have_posts() ) : the_post(); ?>
							<?php get_template_part( 'content', 'search' ); ?>
						<?php endwhile; ?>

						<?php shell_paging_nav(); ?>

					<?php else : ?>

						<?php get_template_part( 'content', 'none' ); ?>

					<?php endif; ?>





		<?php get_footer(); ?>				